# Environment variables
.env

# SQLite Databases
data/*.db
data/*.sqlite3

# Raw data and artifacts
data/raw/
data/chroma_db/
logs/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environment
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db
